<app-navbar></app-navbar>
<section class="section section-lg section-hero section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="separator separator-bottom separator-skew">
    <svg
      x="10"
      y="10"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="text-center text-muted mb-4"></div>
  <div class="container">
    <div class="card-header bg-white pb-3">
      <div class="row justify-content-center"></div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center mb-4">
            Historial medico de vacunas del paciente
          </h4>
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-primary">
                <tr>
                  <th>Identificacion</th>
                  <th>Nombres</th>
                  <th>Fecha de Vacunacion</th>
                  <th>Vacuna</th>
                  <th>Carnet de Vacunacion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="scope">1207162700</th>
                  <td>Tommy Apolinario</td>
                  <td>15/08/2022</td>
                  <td>Viruela</td>

                  <td>
                    <a href="#" class="btn btn-outline-success">Generar</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="scope">1207162700</th>
                  <td>Tommy Apolinario</td>
                  <td>12/08/2022</td>
                  <td>Insulina</td>

                  <td>
                    <a href="#" class="btn btn-outline-success">Generar</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="scope">1207162700</th>
                  <td>Tommy Apolinario</td>
                  <td>12/08/2022</td>
                  <td>Insulina</td>

                  <td>
                    <a href="#" class="btn btn-outline-success">Generar</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="scope">1207162700</th>
                  <td>Tommy Apolinario</td>
                  <td>12/08/2022</td>
                  <td>Insulina</td>

                  <td>
                    <a href="#" class="btn btn-outline-success">Generar</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="scope">1207162700</th>
                  <td>Tommy Apolinario</td>
                  <td>12/08/2022</td>
                  <td>Insulina</td>
                  <td class="border-bottom-0">
                    <a href="#" class="btn btn-outline-success">Generar</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
