<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img
        src="./assets/img/brand/MainPage.png"
        style="width: 15em; height: 5em"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/MainPage.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Vacunate ahora</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a class="media d-flex align-items-center">
                <div
                  class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                >
                  <i class="bi bi-calendar-heart-fill"></i>
                </div>
                <div class="media-body ml-3">
                  <h6
                    class="heading text-primary mb-md-1"
                    class="heading text-primary mb-md-1"
                    routerLink="/citas"
                  >
                    Agenda una cita
                  </h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Agenda una cita ahora para programa la vacunacion!.
                  </p>
                </div>
              </a>
              <a class="media d-flex align-items-center">
                <div
                  class="icon icon-shape bg-gradient-success rounded-circle text-white"
                >
                  <i class="bi bi-info-square"></i>
                </div>
                <div class="media-body ml-3">
                  <h6
                    class="heading text-primary mb-md-1"
                    routerLink="/landing"
                  >
                    Sobre Nuestro Equipo
                  </h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Enterate mas sobre All Vaccinated y su equipo de trabajo.
                  </p>
                </div>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-warning rounded-circle text-white"
                >
                  <i class="bi bi-clipboard2-data"></i>
                </div>
                <div class="media-body ml-3">
                  <h5
                    class="heading text-warning mb-md-1"
                    routerLink="/history"
                  >
                    Historial de Vacunas
                  </h5>
                  <p class="description d-none d-md-inline-block mb-0">
                    Historial clinico de vacunacion respectivo al paciente
                  </p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Administrar Vacunas</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu">
            <div class="dropdown-menu-inner">
              <a
                routerLinkActive="active"
                [routerLink]="['documentation/tutorial']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                >
                  <i class="bi bi-hospital"></i>
                </div>
                <div class="media-body ml-3">
                  <h6
                    class="heading text-primary mb-md-1"
                    routerLink="/vacunar"
                  >
                    Vacunar
                  </h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Vacuna a un paciente ahora!.
                  </p>
                </div>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['documentation/colors']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-success rounded-circle text-white"
                >
                  <i class="bi bi-clipboard2-heart"></i>
                </div>
                <div class="media-body ml-3">
                  <h6
                    class="heading text-primary mb-md-1"
                    routerLink="/existencia"
                  >
                    Revision de existencias
                  </h6>
                  <p class="description d-none d-md-inline-block mb-0">
                    Elimina o actualiza las Vacunas existentes.
                  </p>
                </div>
              </a>
              <a
                routerLinkActive="active"
                [routerLink]="['documentation/alerts']"
                class="media d-flex align-items-center"
              >
                <div
                  class="icon icon-shape bg-gradient-warning rounded-circle text-white"
                >
                  <i class="bi bi-clipboard-plus"></i>
                </div>
                <div class="media-body ml-3">
                  <h5
                    class="heading text-warning mb-md-1"
                    routerLink="/registro"
                  >
                    Registro de Vacunas
                  </h5>
                  <p class="description d-none d-md-inline-block mb-0">
                    Registra ahora un nuevo lote de Vacunas
                  </p>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://github.com/TommyApolinario/all-vaccinated-Frontend"
            target="_blank"
            data-toggle="tooltip"
            title="Star us on Github"
          >
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a routerLink="/login" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="bi bi-box-arrow-left mr-2 mb-3"></i>
            </span>
            <span class="nav-link-inner--text">Cerrar Sesion</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
